
.header_index {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.container-audifonos  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  width:70%;
  object-fit: cover;
}

.container-colum {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px; 
  width: 100%; 
   height: 600px;
  margin-top: 25px;
  margin-bottom: 30px;
  padding-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 60px;
}
.text-column {
width: 100%;
 text-align: justify;
 margin-left: 15px;
 
}
.text-column{
  background-image:url(/imagenes/estrellas.webp);
  background-position: auto
}
.text-column p{
  margin-top: 50px;
  padding-top: 100px;
}

.video-column iframe {
  /* Estilos opcionales para ajustar el tamaño del video dentro de la columna */
 width: 100%;
  height:100%;
  margin: 0;
}


.img-index{
  object-fit: cover;
  width: 100%;
  height: 800px;
}
.h2-index {
    text-align: center;
    color: $white-color;
    position: relative;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-top: 80px;
    padding-bottom: 100px;
}

  h2 span{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position:absolute;
    right: 0;
    width: 0;
    border-left: 1px solid $white-color;
    background-color:$black-color;
    animation: maquina 10s infinite alternate-reverse steps(51);
  }
@keyframes maquina{
    from{
        width:100%;
    }
    to{
        width: 0;
    }

}
.mg-index{
width: 550px;
height: 400px;
object-fit: cover;
}


.img_sam{
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  padding-bottom: 50px;
  .gallery-item {
      position: relative;
      overflow: hidden;
      
    }
    .gallery-item img {
      width: 100%;
      height: 100;
      transition: transform 0.3s ease;
    }
    
      .gallery-item:hover img {
       transform: scale(1.2);
    }
    .gallery-item:hover .overlay {
      opacity: 1;
    }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  .overlay h3 {
      color: #fff;
      font-size: 20px;
      text-align: center;
      margin: 0;
      padding: 10px;
    }
}





