@media (min-width: 320px) and (max-width: 480px) {

  //inicio
  .header_index {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .container-audifonos  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
    width:100%;
    object-fit: cover;
  }
  
  .container-colum {
    display: grid;
    grid-template-columns:auto; 
    gap: 20px; 
    width: 100%; 
     height: 100%;
    margin-top: 5px;
    margin-bottom: 3px;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 6px;
  }
  .video-column iframe {
   width: 100%;
    height:100%;
   margin-bottom: 0;
  }
  .text-column p{
    margin-top: 10px;
    padding-top: 15px;
  }
  .text-column {
    margin-top: 0px;
    padding-top: 0px;
   width: 100%;
   text-align: justify;
   background-image:url(/imagenes/estrellas.webp);
   background-position: auto
  }

   .h2-index {
      margin-top: 0;
      margin-bottom: 2px;
      padding-bottom: 10px;
      padding-top: 5px;
      font-size: .7em;
      text-align: center;
     }
     .gallery-item img {
      width: 100%;
      height: 100;
      transition: transform 0.3s ease;
    }
    
   .img-index{
      height: auto;
      width: 100%;
      object-fit: cover;
      margin-bottom: 20px;
    }
    .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 10px;
      padding-bottom: 10px;
    }

    .img_sam{
      width: 100%;
      height: 100%;
      object-fit: cover;
      }
      .p{
        text-align: justify;
       line-height: 1.8;
       margin-bottom:0;
      }
  
    

    /*enpieza acerca de sam  */

  .p{
    color: $white-color;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    padding-bottom: 8px;
    overflow: auto;

  } 
    /* Empieza portafolio */
    .header-v video{
      width: 100%;
      height: auto;
      object-fit: cover;
    }
         //comunes
   .header-i img{
    width: 100%;
    height: auto;
    object-fit: cover;
   }
    h1{font-size: 1em;}
    main{
      margin: 4px;
      padding: 2px
    }
    p{
      font-size: .9em;
      text-align:none;
    }
    h3{
      font-size: 1em;
    } 
    //empieza servicios
    .p_servicios{
      margin-left: 20px;
      margin-right: 20px;
      text-align: justify;
      line-height: 1.8;
      margin-bottom: 0px;
      padding-bottom: 0;
    } 
    .mr{
      padding-right:  15px;
     }
     .col iframe{
      width: 100%;
      height: 100%;
     }
    //FOOTER
    footer img{
     display: inline-block;
    }
    
    /* Empieza contacto */
    .div_formulario {
      width: 100%;
   }
   .formulario{
      width: auto;
    }
    .text_area{
      width: 280px;
      margin-left: 10px;
      margin-right:10px;
    }
   button{
      margin-left: 10px;
   }
   //error404
   .center img{
    width: 100%;
   
   }
 
}

@media (min-width: 480px) and (max-width: 600px){
  //inicio
  .header_index {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
   .h2-index {
    margin-bottom: 10px;
    padding-bottom: 15px;
   font-size: 1.1em;
  }
  .mg-index{
      width: auto;
      height: auto;
      object-fit: cover;
    }
  
    .img_sam{
      width: 100%;
      height: 100%;
      object-fit: cover;
      }
       //comunes
   .header-i img{
    width: 100%;
    height: auto;
    object-fit: cover;
   }
    

    /*enpieza acerca de sam  */
  
  .p{
    font-size: .9em;
    color: $white-color;
    margin-bottom: 50px;
    padding-bottom: 80px;
  } 
    /* Empieza portafolio */
    .header-v video{
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .container-p {
      margin: 0;
      padding-top: 20px;
      padding-right: 25px;
      padding-left: 25px;
      padding-bottom: 30px;
      width: 100%;
      height: auto;
     }
    .p_portafolio{
      color: $white-color;
    }
    /* Empieza contacto */
    .div_formulario {
      width: 100%;
   }
   .formulario{
      width: auto;
    }
    .text_area{
      width: 280px;
      margin-left: 10px;
      margin-right:10px;
    }
   button{
      margin-left: 10px;
   }
    //error404
    .center img{
      width: 100%;
    }
      
     
   //comunes
   h3{
    font-size: 1em;
  } 
  p{
    text-align:none;
    font-size: 1em;
  }
   h1{
    font-size: 1em;
   }
   main{
    margin: 4px;
    padding: 2px
  }
   
 }
  
  @media (min-width: 600px) and (max-width: 768px) {
    .header_index {
      position: relative;
      width: 100%;
      height: 100%;
     }
      .container-audifonos  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
    width:100%;
    object-fit: cover;
  }
  .text-column  p {
    margin-top: 50px;
    padding-top: 30px;
    }
  
  .container-colum {
    display: grid;
    grid-template-columns:auto; 
    gap: 20px; 
    width: 100%; 
     height: 600px;
    margin-top: 5px;
    margin-bottom: 3px;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 6px;
  }
  .video-column iframe {
   width: 100%;
    height:100%;
   margin-bottom: 0;
  }
  .text-column {
    margin-top: 0px;
    padding-top: 0px;
   width: 100%;
   text-align: justify;
   background-image:url(/imagenes/estrellas.webp);
   background-position: auto
  }
     .h2-index {
        margin-top: 0;
        padding-top: 0;
        font-size: 1.3em;
        text-align: center;
        color:$white-color;
      }
     
      p{
      text-align:none;
      font-size: .79em;
      }
     
      .img-index{
        height: auto;
        width: 100%;
        object-fit: cover;
        margin-bottom: 50px;
      }
      .img_sam{
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
         //comunes
     .header-i img{
      width: 100%;
      height: 200px;
      object-fit: cover;
     }
      
     .gallery-item img {
      width: 100%;
      height: 100;
      transition: transform 0.3s ease;
    }
      /*enpieza acerca de sam  */
     .div_sam{
      margin: 0;
      padding-top: 20px;
      padding-right: 25px;
      padding-left: 25px;
      padding-bottom: 10px;
      width: 100%;
    }
    .p{
     
      color: $white-color;
      margin-bottom: 50px;
      padding-bottom: 80px;
    } 
      /* Empieza portafolio */
      .header-v video{
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      .container-p {
        margin: 0;
        padding-top: 20px;
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 30px;
        width: 100%;
        height: auto;
       }
      .p_portafolio{
       
        color: $white-color;
      }
      
      h3{
        font-size: 1em;
      } 
      .col iframe{
        width: 100%;
        height: 400px;
       }
      
      /* Empieza contacto */
      .div_formulario {
        width: auto;
     }
     .formulario{
        width: auto;
      }
      .text_area{
        width: 400px;
        margin-left: 10px;
        margin-right:10px;
      }
     button{
        margin-left: 10px;
     }
     nav{
      width: 100%;
     }
     main{
      margin: 4px;
      padding: 2px
    }
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    .header_index {
      position: relative;
      width: 100%;
      height: 100vh;
    }
    h2{
      font-size: 1.8em;
    }
    .col img{
      width: 100%;
    }
    .col{
      width: 100%;
      margin: 2px;
      padding: 1px
    }
   .iframe iframe {
      margin-bottom: 10px;
      width: 100%;
      height: 400px;
    }
   
    h2{
      font-size: 2em;
    }
    p{
      font-size: 1em;
    }
    .header-i img{
      width: 100%;
      height: 500px;
      object-fit: cover;
     }
      /* Empieza portafolio */
      .header-v video{
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      //error 404
      .center img  {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        
       
        
    }

  }
  
  
  @media (min-width: 1358px)and (max-width: 2381px){
   //index
   .header_index {
    position: relative;
    width: 100%;
    height: 100vh;
  }
     
  .col img,iframe{
    width: 100%;
    height: auto;
    margin-bottom: 0;
    padding-bottom: 5px;
   }
   .h1-index {
    text-align: center;
    position: relative;
    font: 1.8em sans-serif;
  }
  .div_sam{
    margin: 0;
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 30px;
    width: 70%;
    height: auto;
    // border: solid green 2px;
  }
  .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
    //Acerca de sam
     .div_sam{
        
            margin: auto;
            width: 70%;
            // border: 3px solid green;
            padding: 10px;
          
      }
      .p{
        font-size: 1.2em;
        color: $white-color;
        /* text-align: justify; */
        /* line-height: 1.3; */
        margin-bottom: 50px;
        padding-bottom: 80px;
      } 
      
  }

//portafolio y servicios
.col iframe{
  width: 100%;
  height: 600px;
 }