//variables globales
// Variables
$green-color: green;
$white-color: white;
$blue-color: #007bff;
$grey-color: hsl(203, 50%, 5.5%);
$black-color: black;
$fadeIn-duration: 10s;
$fadeIn-reverse: alternate-reverse;



//fonts
$mainFount:'Roboto', sans-serif;
$secundaryFound: verdana, sans-serif;
$center:center;

